<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>
<p id='author'>
  <b>By:</b>
  <%= @article.author.email %>
</p>


<p id="status">
<% if policy(@article).update? %>
  <b>Published?:</b>
  <%= @article.published %>
<% end %>
</p>

<p>
  <strong>Body:</strong>
  <%= @article.body %>
</p>

<p>
  <%= render 'comments/index' %>
</p>

<% if policy(@comment).create? %>
  <%= render 'comments/form' %>
<% end %>

<p>
  <%= link_to 'Back', articles_path %> |

  <% if policy(@article).update? %>
    <%= link_to 'Edit', edit_article_path(@article) %> |
  <% end %>

  <% if policy(@article).destroy? %>
    <%= link_to 'Delete', @article, method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>

  <% if policy(@article).publish? && @article.published == false %>
    <%= form_for [@article] do |f| %>
      <%= f.hidden_field :published, value: true %>
      <%= f.submit "Publish" %>
    <% end %>
  <% end %>
</p>

